div.script-list {
  width: 80%!important;
  margin: 0 auto 25px;
}

app-create-list {
  width: 80%;
  padding: 25px;
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
