div.script-list {
  width: 90%!important;
  margin: 0 auto 25px;
}

app-create-list, app-container-list, .script-list {
  width: 80%;
  padding: 25px;
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  height: calc(100% - 75px);
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkgrey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}

