<br><br>
<h2>Liste des containers</h2>

<button mat-stroked-button (click)="loadData()">Rafraîchir</button>

<br><br>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="dataSource.data.length; else noContainerMessage">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="unique_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.attributes.unique_id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Names </th>
      <td mat-cell *matCellDef="let element"> {{element.attributes.names}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td mat-cell *matCellDef="let element"> {{element.attributes.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDataContainer(row)"></tr>
</table>

<ng-template #noContainerMessage>
    <p>Aucun container n'est présent</p>
</ng-template>
