table {
  width: 100%;
  box-shadow: none!important;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-row {
  background: #cd8c25;

  .mat-header-cell {
    color: #fff!important;
  }

  .mat-sort-header-arrow {
    color: #fff!important;
  }
}
